In [1]:
import numpy as np
import pandas as pd

**Pivot Tables**

In [4]:
data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Sales': np.random.randint(100, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    'Rep': ['John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary',
            'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice']
}
df = pd.DataFrame(data)
df

         Date Product Region  Sales  Units    Rep
0  2023-01-01       A   East    564     37   John
1  2023-01-02       B   West    317     46   Mary
2  2023-01-03       C  North    760     52    Bob
3  2023-01-04       D  South    702     81  Alice
4  2023-01-05       A   East    730     22   John
5  2023-01-06       B   West    987     28   Mary
6  2023-01-07       C  North    872     19    Bob
7  2023-01-08       D  South    723     65  Alice
8  2023-01-09       A   East    665     42   John
9  2023-01-10       B   West    879     34   Mary
10 2023-01-11       C  North    895     11    Bob
11 2023-01-12       D  South    231     48  Alice
12 2023-01-13       A   East    665     57   John
13 2023-01-14       B   West    411     85   Mary
14 2023-01-15       C  North    561     90    Bob
15 2023-01-16       D  South    302     72  Alice
16 2023-01-17       A   East    673     43   John
17 2023-01-18       B   West    835     52   Mary
18 2023-01-19       C  North    409     27    Bob
19 2023-01-20       D  South    341     21  Alice

In [5]:
df['Month'] = df['Date'].dt.month_name()
df['Quarter'] = 'Q' + df['Date'].dt.quarter.astype(str)
df

         Date Product Region  Sales  Units    Rep    Month Quarter
0  2023-01-01       A   East    564     37   John  January      Q1
1  2023-01-02       B   West    317     46   Mary  January      Q1
2  2023-01-03       C  North    760     52    Bob  January      Q1
3  2023-01-04       D  South    702     81  Alice  January      Q1
4  2023-01-05       A   East    730     22   John  January      Q1
5  2023-01-06       B   West    987     28   Mary  January      Q1
6  2023-01-07       C  North    872     19    Bob  January      Q1
7  2023-01-08       D  South    723     65  Alice  January      Q1
8  2023-01-09       A   East    665     42   John  January      Q1
9  2023-01-10       B   West    879     34   Mary  January      Q1
10 2023-01-11       C  North    895     11    Bob  January      Q1
11 2023-01-12       D  South    231     48  Alice  January      Q1
12 2023-01-13       A   East    665     57   John  January      Q1
13 2023-01-14       B   West    411     85   Mary  January      Q1
14 2023-01-15       C  North    561     90    Bob  January      Q1
15 2023-01-16       D  South    302     72  Alice  January      Q1
16 2023-01-17       A   East    673     43   John  January      Q1
17 2023-01-18       B   West    835     52   Mary  January      Q1
18 2023-01-19       C  North    409     27    Bob  January      Q1
19 2023-01-20       D  South    341     21  Alice  January      Q1